<h1>All Trainers</h1>

<section id="trainers">
    <% @trainers.ordered.each do |trainer| %>
      <section id="trainer_<%= trainer.id %>">
        <p><%= trainer.name %> Created at: <%= trainer.created_at %></p>
      </section>
    <% end %>
</section>
